:root,
[data-bs-theme=light] {
   --custom-color-1: #004b49;
   --custom-color-1-rgb: 0, 75, 73;
   --custom-color-2: #fd4f00;
   --custom-color-2-rgb: 253, 79, 0;
   --bs-border-color: currentColor;
}

.list-group {
   --bs-list-group-border-color: color-mix(in srgb, var(--bs-border-color) 25%, transparent);
}

ul>.vr:last-child, ul>.vr:last-of-type, ol>.vr:last-child, ol>.vr:last-of-type {display: none;}

.text-bg-custom1 {background-color: var(--custom-color-1) !important; color: var(--bs-white) !important;}
.text-bg-custom2 {background-color: var(--custom-color-2) !important; color: var(--bs-white) !important;}
.text-muted {color: color-mix(in srgb, currentColor 50%, transparent) !important;}

.grid-cols-2 {grid-template-columns: repeat(2, 1fr);}

body {display: flex; flex-direction: column; min-height: 100dvh;}
body.nav-open {overflow: hidden !important;}
body>main {flex-grow: 1;}

a {text-decoration: none;}
a[target="_blank"] {text-decoration: underline;}

.btn-invert {background-color: var(--bs-body-color) !important; color: var(--bs-body-bg) !important; border-color: var(--bs-body-color) !important;}
.btn-outline-invert {background-color: transparent; color: var(--bs-body-color); border-color: var(--bs-body-color);}
.btn-outline-invert:hover, .btn-outline-invert:focus-within, .btn-outline-invert.active {background-color: var(--bs-body-color); color: var(--bs-body-bg); border-color: var(--bs-body-color);}

*::placeholder {color: inherit !important;}